
*{
    margin: 0%;
    padding: 0%;
}




/* Header */

.navformat{
    width: 100%;
    background-color:black ;
}

.container-fluid a{
    color: blanchedalmond;
}

.navbar{
    color: none;
}

.navbar-toggler{
    background-color: blanchedalmond;
}



/* Index */

/* Generales */

h1{font-family: 'Rowdies', cursive;}

h2{font-family: 'Rowdies', cursive;}

h3{font-family: 'Rowdies', cursive;}

p{font-family: 'Roboto', sans-serif;}

img{width: 100%;}

/* Footer */

.footer{
    display: flex;
    align-items: center;
    background-color: black;
    color: blanchedalmond;
    width: 100%;
    height: 100px;
    margin: 0%;
}

.footer img{
    width: 60px;
    height: 60px;
    padding: 1em;
    margin-right: 3em;
}

.footer-img{
    display: flex;
    justify-content: end;
}

@media(min-width: 412px) and (max-width:820px) {
    .footer{
        margin-top: 1em;
    }

    .footer-img{
        margin: 0%;
    }

    .footer h4{
        display: none;
    }
}


/* lg */
@media (min-width:992px){
    h1{
        font-size: 4em;
    }

    h2{
        font-size: 2em;
    }

    h3{
        font-size: 1.3em;
    } 

    h4{
        font-size: 1em;
        padding-left: 4em;
    }

    p{
        font-size: 1em;
    }
}

/* md */
@media (min-width: 820px) and (max-width: 991px) {
    h1{
        font-size: 4em;
    }

    h2{
        font-size: 1.5em;
    }

    h3{
        font-size: 1em;
    }

    h4{
        font-size: 1em;
        padding-left: 4em;

        
    } 

    p{
        font-size: 1.2em;
    }
}


/* sm */
@media (min-width: 412px) and (max-width: 821px) {
    h1{
        font-size: 3em;
    }

    h2{
        display: flex;
        justify-content:center;
        font-size: 1.5em;
    }

    h3{
        font-size: 1em;
    } 

    h4{
        font-size: 1em;
        padding-left: 4em;
    }

    p{
        font-size: 1em;
    }
}

.titleformat{
    background-color: black;
    color: blanchedalmond;
    padding: 2em;
}


@media(min-width: 412px) and (max-width:992px) {
    .md-hide {
        display: none;
    }
    }

/* index-paragraph-1 */


.index-paragraph1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    margin: 1em;
}

.index-text-1{
    text-align: justify;
    width: 80%;
    margin-left: 3em;
    padding: 1em;
}


.index-paragraph2>.subtitle{
    padding: 1em;
    padding-left: 2em;
}

.subtitle2{
    background-color: black;
    color: blanchedalmond;
    padding: 2em;
    margin: 2em;
}

@media(min-width: 412px) and (max-width:820) {
    .img {
        width: 50%;
    }
    }

.index-paragraph2{
    padding: em;
    background-color: black;
    color: blanchedalmond;
    
}


.index-paragraph2 img{
    width: 50%;
}

.index-paragraph2 p{
    text-align: center;
    width: 70%;
    padding: 2em;
}

.container-img> .img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-paragraph3{
    display: flex;
    justify-content: center;
    align-items: center;
}


.index-paragraph3 img{
    margin: 1em;
    width: 70%;
}

.index-paragraph3> .index-text-3{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: blanchedalmond;
    padding: 2em;
    width: 40%;
}

@media(min-width: 412px) and (max-width:820px) {
    .index-paragraph3> .index-text-3{
        width: 65%;
    }
}

@media(min-width: 821px){
    .index-paragraph3> .index-text-3{
        width: 36%;
    }
}


.index-paragraph3>.subtitle{
    padding: 1.5em;
    padding-left:2em ;
}


/* Us*/

.us-paragraph1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.us-text-1{
    width: 40%;
    padding: 2em;
    background-color: black;
    color: blanchedalmond;
}

@media(min-width: 412px) and (max-width:820px) {
    .us-text-1{
       width: 90%;
       margin: 2em;
    }
}

.us-conditions-container{
    display: flex;
    justify-content: center;
}

.us-conditions
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;   
    background-color: black;
    color: blanchedalmond;
    display: flex;
    justify-content: center;
    padding: 2em;
    margin: 2em;
    border-radius: 2em;
}

.us-conditions-ol{
    display: flex;
    flex-direction: column;
}

@media(min-width: 412px) and (max-width:820px) {
    .us-conditions{
       width: 85%;
       margin: 2em;
    }
}



/* Recipes*/

/* RecipeButtons */

.recipebuttons>div>h2{
    padding: 1rem;
    margin: 2%;
    font-size: 2rem;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.recipebutton{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: black;
    color: blanchedalmond;
    font-size: 1.2rem;
    width: 30%;
    border-radius: 2rem;
    text-decoration: none;
}

/* carrusel */

.carousel-inner{
    margin-top: 5%;
}

/* text */

.recipes-paragraph{
    margin: 1em;
}

.recipe-cards{
display: flex;
justify-content: space-evenly;
}

.card{
    width: 48%;
    background-color: black;
    color: blanchedalmond;
    padding: 1em
}


/* Recipes Salty and sweet*/

.recipes{
    display: flex;
    flex-direction: column;
}

.recipes-conteiner{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 2%;
}

.recipes-conteiner>div{
    display: flex;
    flex-direction: row;
}

.recipes-conteiner>img{
    width: 30%;
    height: 30%;
    padding: 2rem;
}

.recipes-conteiner-ul{
    padding: 1rem;
    background-color: black;
    height: 100%;
    width: 30%;
    color: blanchedalmond;
    border-radius: 2rem;
}

.recipes-conteiner-ul>ul{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    width: 20em;
}

.recipes-text{
    padding-left: 2rem;
}

.recipes-text>h3{
    font-size: 2rem;
}

.recipes-text>p{
    font-size: 1rem;
    width: 80%;
    text-align: justify;
}

.recipes-conteiner-2{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 2%;
    background-color: black;
    padding-top: 2em;
    padding-bottom: 2em;
}

.recipes-conteiner-2>div{
    display: flex;
    flex-direction: row;
}

.recipes-conteiner-2>img{
    width: 30%;
    height: 30%;
    padding: 2rem;
}

.recipes-conteiner-ul-2{
    padding: 1rem;
    background-color: white;
    height: 100%;
    width: 30%;
    color: black;
    border-radius: 2rem;
}

.recipes-conteiner-ul-2>ul{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    width: 20em;

}

.recipes-text-2{
    padding-left: 4rem;
    color: blanchedalmond;
}

.recipes-text-2>h3{
    font-size: 2rem;
}

.recipes-text-2>p{
    font-size: 1rem;
    width: 80%;
    text-align: justify;
}




/* TOP 5*/

/* Section 2 */
.top-paragraph-1{
    height: 15%;
}

.top-paragraph-1>h2{
    margin: 1em;
    font-size: 2rem;
}

.top-text>p{
    color:blanchedalmond;
    font-size: 1rem;
    width: 40%;
    margin-top: 1em;
}

.top-text>h3{
    font-size: 1em;
    width: 50%;
    text-align: center;
    color: blanchedalmond;
}

.top-text{
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 0.5em;
    align-items: center;
    background-color: black;
}

.top-title>img{
    width: 22%;
    height: 22%;
}

.top-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3em;
}


/* section 3 */

.top-paragraph-2{
    height: 20%;
}

.top-paragraph-2>h2{
    color: black;
    font-size: 2em;
    margin: 1em;
}


.top-title-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.top-title-2>a>img{
    width: 60%;
    height: 60%;
}

.top-text-2{
    width: 30%;
    background-color: black;
    padding: 1em;
}

.top-text-2>h2{
    display: flex;
    justify-content: center;
    font-size: 3em;
    color: blanchedalmond;
}

.top-text-2>h3{
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
    font-size: 3em;
    color: blanchedalmond;
    font-style: italic;
}

.top-text-2>h4{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 2rem;
    color: blanchedalmond;
}

/* Section 4 */

.tops{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 3em;
    padding: 5em;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    border-radius: 1rem;
    margin: 1em;
    padding: 1.2em;
}

.cards>a>img{
    width: 100%;
    height: 100%;
}

.cardstext{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cardstext>h3{
    display: flex;
    justify-content: center;
    font-size: 2em;
    color: blanchedalmond;
    font-style: italic;
    text-align: center;
    padding: 1rem;
}

.cardstext>h4{
    display: flex;
    justify-content: center;
    font-size: 1em;
    color: blanchedalmond;
}


/* section 4 */

.questtext{
    height: 55%;
    width: 100%;
    background-color: black;
}

.questtext>div{
    color: blanchedalmond;
}

.questtext>div>h2{
    font-size: 2em;
    padding: 3rem;
}

.questtext>div>p{
    display: flex;
    justify-content: center;
    font-size: 1.2em;
}

/* form */

.quest{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2em;
    padding-bottom: 2em;
}

.conteiner{
    background-color: white;
    border-radius: 2rem;
    height: 25%;
    width: 50%;
}


.questtitle{
    color: black;
    padding: 1em;
    padding-top: 1em;
}

.input-box{
    color: black;
    font-size: 1em;
    padding: 0.5em;
    margin-left: 1.5em;
}

.input-box>input{
    display: flex;
    margin: 1em;
    margin-left: 2.5em;
    padding: 0.2em;
    width: 70%;
    border-radius: 0.5em;
    font-size: 1em;
}

.input-box>textarea{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    width: 70%;
    overflow-y: scroll;
    height: 10%;
    font-size: 1.5em;
    margin: 1em;
    margin-left: 2.5em;
    padding: 0.2em;
}

.buttonarea{
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.topbutton{
    width: 20%;
    height: 5%;
    border-radius: 3rem;
    background-color: black;
    color: blanchedalmond;
    font-size: 1.2rem;
}


